body {
  background-color: rgb(220, 239, 247);
  font-family: 'Mochiy Pop One', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


.card-img {
  width: 50%;
}

#container {
  max-width: 1700px;
}

header {
  max-width: 1200px;
}

.form-cont {
  width: 500px;
}